@common {
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-header">
                    <h3 style="display:inline">About CSIT 6910 Independent Project: WBD Explorer</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <blockquote>Why works on Independent Project?</blockquote>
                <pre>
                    <p class="pad">To explore interested areas in Computer Science Field.</p>
                </pre>
                <blockquote>What result do you expect to gain from this project?</blockquote>
                <pre>
                    <p class="pad">To get better understanding of the following technics.</p>
                    <table class="pad">
                        <tr><th>Technic</th><th>Usage</th></tr>
                        <tr><td>Scala</td><td>Understand the Functional Programming technics</td></tr>
                        <tr><td>Slick</td><td>Understand the FRM(Functional Relational Mapping) technics</td></tr>
                        <tr><td>Play</td><td>Understand the reactive platform and play web framework</td></tr>
                        <tr><td>sbt</td><td>Understand the build system</td></tr>
                        <tr><td>bootstrap</td><td>Learn how to build front-end interface</td></tr>
                        <tr><td>d3js</td><td>Learn how to visulize data</td></tr>
                    </table>
                </pre>
                <blockquote>What else do you want to learn from this project?</blockquote>
                <pre>
                    <p class="pad">To understand the world economics by combining the world bank indicators with knowledges learnt from books or wikipedia. </p>
                    <p class="pad">To understand why some countries are poor while others are rich, to understand their economic growth with import/expot, population, education and infrastructure, etc.</p>
                </pre>
            </div>
        </div>
    </div>
}