@common {
    <div class="container">
        <div class="jumbotron">
            <h1>WBD Explorer</h1>
            <p>(World Bank Data Explorer)</p>
            <p>This is a data visualization tool designed for browsing world bank data.</p>
            <p>Wrold bank has created different indicators to estimate different aspects of human life in different coutries.
                People can use these indicators to get better understanding of the world history and estimate the trend.</p>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
        </div>
    </div>
}